# Terraform files
# Local .terraform directories
**/.terraform/
**/*.tfstate*
**/terraform.tfstate*

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform variable files
*.tfvars

# Secrets
/secrets/
**/secret.yaml

**/secret-azurestorage.yaml

**/.terraform.lock.hcl


**/*.pem